<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>NF4Droid</display-name>
	<description>Network Forensics For Android</description>


	<!-- Enable escaping of form submission contents -->
	<context-param>
		<param-name>defaultHtmlEscape</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:META-INF/spring/applicationContext*.xml</param-value>
	</context-param>

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>HttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>

	<filter>
		<filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>HttpMethodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Handles Spring requests -->
	<servlet>
		<servlet-name>nf4droid</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/spring/webmvc-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- GWT request factory -->

	<servlet>
		<servlet-name>requestFactory</servlet-name>
		<servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>requestFactory</servlet-name>
		<url-pattern>/gwtRequest</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

	<!-- GWTUpload -->

	<context-param>
		<!-- max size of the upload request -->
		<param-name>maxSize</param-name>
		<param-value>10485760</param-value><!-- 10 MB -->
	</context-param>
	<context-param>
		<!-- Useful in development mode to slow down the uploads in fast networks. 
			Put the number of milliseconds to sleep in each block received in the server. 
			false or 0, means don't use slow uploads -->
		<param-name>slowUploads</param-name>
		<param-value>0</param-value>
	</context-param>

	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<!-- This is the default servlet, it puts files in session -->
		<!-- <servlet-class>gwtupload.server.UploadServlet</servlet-class> -->
		<servlet-class>at.tugraz.iaik.nf4droid.server.upload.NF4DroidUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>*.gupld</url-pattern>
	</servlet-mapping>

	<!-- RPC Service for retrieving visualization data-->
	<servlet>
		<servlet-name>dashboardDataService</servlet-name>
		<servlet-class>at.tugraz.iaik.nf4droid.server.service.rpc.RpcDashboardDataServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dashboardDataService</servlet-name>
		<url-pattern>/at.tugraz.iaik.nf4droid.NF4Droid/dashboardDataService</url-pattern>
	</servlet-mapping>
	
	<!-- RPC Service for retrieving timeline visualization data-->
	<servlet>
		<servlet-name>timelineDataService</servlet-name>
		<servlet-class>at.tugraz.iaik.nf4droid.server.service.rpc.RpcTimelineDataServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>timelineDataService</servlet-name>
		<url-pattern>/at.tugraz.iaik.nf4droid.NF4Droid/timelineDataService</url-pattern>
	</servlet-mapping>
	
	<!-- RPC Service for retrieving general data-->
	<servlet>
		<servlet-name>generalDataService</servlet-name>
		<servlet-class>at.tugraz.iaik.nf4droid.server.service.rpc.RpcGeneralDataServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>generalDataService</servlet-name>
		<url-pattern>/at.tugraz.iaik.nf4droid.NF4Droid/generalDataService</url-pattern>
	</servlet-mapping>
</web-app>
